#primary .site-main ul.list-product-feature.columns-3 li.product {
  width: 33.3333%;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

ul.list-product-feature li.product img {
  width: 100%;
}

.feature-product-content p {
  margin: 0 0 2.2em;
}

.feature-product-content ul.list-product-feature li.product a h2 {
  font-size: 1.05rem;
  color: #212121;
}

.feature-product-content ul.list-product-feature li.product a .price {
  color: #212121;
  font-size: 1.05rem;
  font-weight: 600;
}

.feature-product-content ul.list-product-feature li.product a.add_to_cart_button {
  background-color: #212121;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: .6180469716em 2em;
  transition: all 0.3s;
}

.feature-product-content ul.list-product-feature li.product a.add_to_cart_button:hover {
  background-color: #757575;
}


